In [1]:
import pandas as pd

df = pd.read_csv('./data/data.csv')
data = df.loc[:, ['SGG_NM',  # 자치구명
'BJDONG_NM',  # 법정동명
'CNTRCT_DE',  # 계약일
'RENT_GBN',  # 전월세 구분
'RENT_AREA',  # 임대면적
'RENT_GTN',  # 보증금(만원)
'RENT_FEE',  # 임대료(만원)
'BUILD_YEAR',  # 건축년도
'HOUSE_GBN_NM',  # 건물용도
'BEFORE_GRNTY_AMOUNT',  # 종전보증금
'BEFORE_MT_RENT_CHRGE']]  # 종전임대료

data.head()

,SGG_NM,BJDONG_NM,CNTRCT_DE,RENT_GBN,RENT_AREA,RENT_GTN,RENT_FEE,BUILD_YEAR,HOUSE_GBN_NM,BEFORE_GRNTY_AMOUNT,BEFORE_MT_RENT_CHRGE
0,서대문구,창천동,20240131,월세,20.0,5000,50,2002.0,단독다가구,0.0,0.0
1,성북구,하월곡동,20240131,전세,23.0,7000,0,1977.0,단독다가구,0.0,NaN
2,관악구,신림동,20240131,월세,24.0,1000,35,1989.0,단독다가구,3500.0,0.0
3,강남구,역삼동,20240131,전세,26.0,17000,0,2002.0,단독다가구,0.0,NaN
4,관악구,신림동,20240131,월세,20.0,3200,9,2015.0,단독다가구,NaN,NaN

In [2]:
columns_categorical = ['SGG_NM', 'BJDONG_NM', 'RENT_GBN', 'BLDG_NM', 'HOUSE_GBN_NM']

for column in columns_categorical:
    value_counts = df[column].value_counts()
    print(f'{column} value counts:')
    print(value_counts)
    print()

SGG_NM value counts:
SGG_NM
송파구     49314
강남구     39182
강서구     38707
관악구     32874
강동구     32488
마포구     29825
서초구     29025
영등포구    27874
동작구     25945
광진구     24854
노원구     24215
은평구     23415
양천구     21065
동대문구    21025
구로구     19957
성북구     19925
중랑구     19422
성동구     18316
서대문구    16590
용산구     14384
금천구     13878
도봉구     12072
강북구     10595
중구       8199
종로구      7361
Name: count, dtype: int64

BJDONG_NM value counts:
BJDONG_NM
봉천동    16821
신림동    14771
화곡동    12809
상계동    10205
신정동     8859
       ...
재동         1
주교동        1
궁정동        1
관훈동        1
북창동        1
Name: count, Length: 402, dtype: int64

RENT_GBN value counts:
RENT_GBN
월세    300318
전세    280189
Name: count, dtype: int64

BLDG_NM value counts:
BLDG_NM
헬리오시티        2771
현대           1480
신동아          1302
두산           1239
파크리오         1202
             ...
한양빌라(가동)        1
한일(183-4)       1
한양다세대(A)        1
뉴명성빌라           1
자연파크빌           1
Name: count, Length: 47860, dtype: int64

HOUSE_GBN_NM value counts:
HOUSE_GBN_NM
아파트      248759
단독다가구    141029
연립다세대    123893
오피스텔      66826
Name: count, dtype: int64

In [3]:
columns_continuous = ['CNTRCT_DE', 'RENT_AREA', 'RENT_GTN', 'RENT_FEE', 'BUILD_YEAR', 'BEFORE_GRNTY_AMOUNT', 'BEFORE_MT_RENT_CHRGE']

for column in columns_continuous:
    max = df[column].max()
    min = df[column].min()
    print(f'{column}')
    print(f'max: {max}, min: {min}')
    print()

CNTRCT_DE
max: 20240131, min: 20230101

RENT_AREA
max: 314.8, min: 3.4

RENT_GTN
max: 740000, min: 0

RENT_FEE
max: 4500, min: 0

BUILD_YEAR
max: 8404.0, min: 998.0

BEFORE_GRNTY_AMOUNT
max: 630000.0, min: 0.0

BEFORE_MT_RENT_CHRGE
max: 2500.0, min: 0.0

In [4]:
data.loc[data['RENT_GTN'] == 0, :].head()

,SGG_NM,BJDONG_NM,CNTRCT_DE,RENT_GBN,RENT_AREA,RENT_GTN,RENT_FEE,BUILD_YEAR,HOUSE_GBN_NM,BEFORE_GRNTY_AMOUNT,BEFORE_MT_RENT_CHRGE
477,관악구,신림동,20240130,월세,20.00,0,35,NaN,단독다가구,0.0,0.0
681,동작구,동작동,20240130,월세,63.60,0,20,1989.0,연립다세대,NaN,NaN
1167,성북구,종암동,20240129,월세,36.18,0,40,NaN,단독다가구,0.0,0.0
1663,서초구,반포동,20240129,월세,129.97,0,1050,2016.0,아파트,0.0,1000.0
3517,마포구,성산동,20240126,월세,49.74,0,35,1986.0,연립다세대,NaN,NaN

In [5]:
data['평수'] = data['RENT_AREA'] * 0.3025

data.head()

,SGG_NM,BJDONG_NM,CNTRCT_DE,RENT_GBN,RENT_AREA,RENT_GTN,RENT_FEE,BUILD_YEAR,HOUSE_GBN_NM,BEFORE_GRNTY_AMOUNT,BEFORE_MT_RENT_CHRGE,평수
0,서대문구,창천동,20240131,월세,20.0,5000,50,2002.0,단독다가구,0.0,0.0,6.0500
1,성북구,하월곡동,20240131,전세,23.0,7000,0,1977.0,단독다가구,0.0,NaN,6.9575
2,관악구,신림동,20240131,월세,24.0,1000,35,1989.0,단독다가구,3500.0,0.0,7.2600
3,강남구,역삼동,20240131,전세,26.0,17000,0,2002.0,단독다가구,0.0,NaN,7.8650
4,관악구,신림동,20240131,월세,20.0,3200,9,2015.0,단독다가구,NaN,NaN,6.0500

In [6]:
# 평수를 범주화하여 새로운 열 추가
data['평수_범주'] = pd.cut(data['평수'], bins=[1, 10, 20, 30, 40, 50, 60, float('inf')], labels=['10평 이하', '10평대', '20평대', '30평대', '40평대', '50평대', '60평대 이상'])

# 변환된 데이터 출력
print(data[['평수', '평수_범주']])

               평수   평수_범주
0        6.050000  10평 이하
1        6.957500  10평 이하
2        7.260000  10평 이하
3        7.865000  10평 이하
4        6.050000  10평 이하
...           ...     ...
580502   4.537500  10평 이하
580503   4.537500  10평 이하
580504   6.655000  10평 이하
580505  11.225775    10평대
580506   6.534000  10평 이하

[580507 rows x 2 columns]

In [10]:
data.loc[data['평수_범주'] == '10평대', :]

,SGG_NM,BJDONG_NM,CNTRCT_DE,RENT_GBN,RENT_AREA,RENT_GTN,RENT_FEE,BUILD_YEAR,HOUSE_GBN_NM,BEFORE_GRNTY_AMOUNT,BEFORE_MT_RENT_CHRGE,평수,평수_범주
9,강동구,성내동,20240131,월세,36.36,500,55,1996.0,단독다가구,0.0,0.0,10.998900,10평대
11,서대문구,남가좌동,20240131,월세,39.66,500,60,1991.0,단독다가구,0.0,0.0,11.997150,10평대
12,중구,신당동,20240131,전세,42.12,14330,0,1993.0,단독다가구,13650.0,NaN,12.741300,10평대
14,영등포구,도림동,20240131,전세,39.60,10000,0,1992.0,단독다가구,0.0,NaN,11.979000,10평대
15,마포구,대흥동,20240131,월세,40.35,1000,80,2019.0,단독다가구,0.0,0.0,12.205875,10평대
...,...,...,...,...,...,...,...,...,...,...,...,...,...
580478,송파구,오금동,20230101,월세,39.60,4000,40,1995.0,단독다가구,0.0,0.0,11.979000,10평대
580489,강남구,일원동,20230101,전세,35.00,12000,0,1987.0,단독다가구,0.0,NaN,10.587500,10평대
580492,동작구,본동,20230101,월세,57.31,1000,100,2008.0,연립다세대,1000.0,87.0,17.336275,10평대
580493,성북구,동선동2가,20230101,월세,39.63,2000,100,2015.0,단독다가구,0.0,0.0,11.988075,10평대
580505,성북구,안암동5가,20230101,월세,37.11,500,55,1992.0,단독다가구,0.0,0.0,11.225775,10평대

In [ ]:
# 최근 한 달 데이터만 가져오기
# 정수로 된 날짜 열을 날짜로 변환
data['CNTRCT_DE'] = pd.to_datetime(data['CNTRCT_DE'], format='%Y%m%d')

# 데이터 중에서 가장 최근의 날짜 찾기
    latest_date = data['CNTRCT_DE'].max()

    # 최근 한 달 데이터 선택
    recent_data = data[data['CNTRCT_DE'] >= (latest_date - pd.DateOffset(days=30))]

    # 선택된 데이터 출력
    # st.dataframe(recent_data)

In [13]:
avg_rent_by_sgg = data.groupby('SGG_NM')['RENT_GTN'].mean().reset_index()
avg_rent_by_sgg

   SGG_NM      RENT_GTN
0     강남구  41312.606656
1     강동구  23055.802296
2     강북구  11779.124870
3     강서구  17807.988013
4     관악구  11369.710136
5     광진구  16945.276052
6     구로구  16014.380518
7     금천구  13243.138925
8     노원구  18086.741937
9     도봉구  14684.605451
10   동대문구  17041.529655
11    동작구  21334.797418
12    마포구  21840.682246
13   서대문구  19897.025618
14    서초구  43432.613230
15    성동구  30037.130978
16    성북구  19485.217415
17    송파구  29328.747516
18    양천구  27584.613624
19   영등포구  21636.395099
20    용산구  28348.995759
21    은평구  17649.897843
22    종로구  19773.545170
23     중구  21829.113550
24    중랑구  14954.162754

In [14]:
data['SGG_NM'].unique()

array(['서대문구', '성북구', '관악구', '강남구', '성동구', '중랑구', '서초구', '강동구', '마포구',
       '중구', '용산구', '영등포구', '송파구', '동작구', '광진구', '금천구', '양천구', '구로구',
       '노원구', '강서구', '도봉구', '은평구', '동대문구', '강북구', '종로구'], dtype=object)